version: '3.8'

services:
  db:
    image: pgvector/pgvector:pg16
    container_name: avatarAdam-db
    restart: unless-stopped
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 1234
      POSTGRES_DB: avatar_adam
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d avatar_adam"]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  postgres_data:
